body{
  background-color: rgb(250, 215, 139);  
  text-align: center;
}

.menu{
    padding: 10px 10px;
}

img{
    max-width: 40%;
    border-radius: 10px;
    display: block;
    margin: 50px auto; 
}